body {
  margin: 0;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0C0E14;
  text-decoration: none;
}

a {
  text-decoration: none;
}

ul {
  text-decoration: none;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bug {
  background: #aedf78;
  filter: drop-shadow(0 0 0.75rem #aedf78);
}

.water {
  background: #43ccff;
  filter: drop-shadow(0 0 0.75rem #43ccff);
}

.grass {
  background: #00ca91;
  filter: drop-shadow(0 0 0.75rem #00ca91);
}

.fire {
  background: #e95c4d;
  filter: drop-shadow(0 0 0.75rem #e95c4d);
}

.normal {
  background: #a5a5a5;
  filter: drop-shadow(0 0 0.75rem #a5a5a5);
}

.poison {
  background: #611380;
  filter: drop-shadow(0 0 0.75rem #611380);
}

.electric {
  background: #f9be00;
  filter: drop-shadow(0 0 0.75rem #f9be00);
}

.ground {
  background: #bfac21;
  filter: drop-shadow(0 0 0.75rem #bfac21);
}

.fairy {
  background: #f87ea7;
  filter: drop-shadow(0 0 0.75rem #f87ea7);
}

.fighting {
  background: #e81319;
}

.psychic {
  background: #8a0532;
}

.ghost {
  background: #8e55a4;
}

.rock {
  background: #776a3e;
}

.ice {
  background: #66d1e5;
}

.flying {
  background: #5eb9b2;
}

.dark {
  background: #2d221c;
}

.dragon {
  background: #29036a;
}

.steel {
  background: #7b8e8a;
}

.unknown {
  background: #454545;
}

.shadow {
  background: #4f4f4f;
}