.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h3 {
  margin: 0;
  font-size: 150%;
  text-align: center;
  text-transform: capitalize;
  font-family: Arial,
    Helvetica,
    sans-serif;
  color: #fff;
  padding: 0;
}

img {
  max-width: 15rem;
  max-height: 15rem;
  min-width: 15rem;
  min-height: 15rem;
}

h4 {
  color: #fff;
  margin: 1px;
  background-color: rgba(255, 255, 230, 0.3);
  border-radius: 20px;
  text-align: center;
  padding: 2px 10px;
  text-transform: capitalize;
  font-size: 100%;
  place-self: flex-start;
}